.logInPage{
    background:
            radial-gradient(circle at 15% 20%, rgba(0, 120, 255, 0.5), transparent 40%),
            radial-gradient(circle at 85% 80%, rgba(180, 0, 255, 0.4), transparent 40%),
            linear-gradient(135deg, #020202, #111111);
    min-height: 100vh;
}

.logInContainer {
    width: 90%;
    max-width: 400px;
    margin: 150px auto 0;
    text-align: center;

    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(12px);

    padding: 2rem;
    border-radius: 12px;

    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);
}

.logInButton {
    margin-top: 20px;
    width: 325px;
    border-radius: 20px;
}

#emailLabel {
    margin-right: 280px;
}

#passwordLabel {
    display: block;
    margin-top: 25px;
    margin-bottom: 0;
    margin-right: 250px;
}

#forgotPassword {
    display: block;
    margin-left: 200px;
    margin-top: 10px;
}

#signUp {
    margin-top: 10px;
    font-weight: bold;
}

.passwordContainer {
    position: relative;
    display: inline-block;
}

#togglePassword {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

#newPasswordLabel, #confirmPasswordLabel {
    display: block;
    margin-top: 20px;
    margin-bottom: 0;
    margin-right: 215px;
}

#newPasswordLabel {
    margin-right: 240px;
}


.resetPage .passwordRequirements {
    width: 325px;
    margin: 8px auto 15px;
    text-align: left;
    font-size: 12px;
}

.resetPage .passwordRequirements p {
    margin: 3px 0;
}

#resetPasswordButton {
    margin-top: 20px;
}

#resetMessage {
    margin-top: 15px;
}

.resetPage .passwordContainer {
    position: relative;
    display: inline-block;
}
.passwordContainer input {
    padding-right: 40px;
}

#toggleNewPassword, #toggleConfirmPassword {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.emailContainer {
    display: inline-block;
}